<template>
  <v-app-bar
    :clipped-left="$vuetify.breakpoint.lgAndUp"
    app
    color="blue darken-3"
    dark
  >
    <v-app-bar-nav-icon @click="drawer = !drawer" />
    <v-toolbar-title style="width: 300px" class="ml-0 pl-4">
      <span class="hidden-sm-and-down">Title Name</span>
    </v-toolbar-title>
    <v-spacer />
    <v-spacer></v-spacer>
    <v-btn text light large tile @click="logout()">
      <span>Logout</span>
      <v-icon>mdi-export</v-icon>
    </v-btn>
    <!-- <v-btn `icon>
        <v-icon>mdi-apps</v-icon>
      </v-btn>
      <v-btn icon>
        <v-icon>mdi-bell</v-icon>
      </v-btn>
      <v-btn icon large>
        <v-avatar size="32px" item>
          <v-img src="https://cdn.vuetifyjs.com/images/logos/logo.svg" alt="Vuetify" />
        </v-avatar>
    </v-btn>-->
  </v-app-bar>
</template>

<script>
export default {
  name: "AppBar",
  props: {
    value: {
      type: Boolean,
      default: true,
    },
  },
  data() {
    return {
      drawer: null,
    };
  },
  watch: {
    drawer: function(value) {
      this.$emit("input", value);
    },
    value: function(value) {
      this.drawer = value;
    },
  },
  mounted() {
    this.drawer = this.value;
  },
  methods: {
    logout() {
      let self = this;
      self.$store.dispatch("LogOut");
    },
  },
};
</script>
