<template>
  <v-content>
    <v-container class="container--fluid" fluid>
      <router-view></router-view>
      <v-btn
        bottom
        color="red"
        dark
        fab
        fixed
        right
        @click="toTop"
        v-scroll="onScroll"
        v-show="fab"
      >
        <v-icon>mdi-chevron-up</v-icon>
      </v-btn>
    </v-container>
  </v-content>
</template>

<script>
export default {
  name: "Content",
  data() {
    return {
      fab: false
    };
  },
  methods: {
    onScroll(e) {
      if (typeof window === "undefined") return;
      const top = window.pageYOffset || e.target.scrollTop || 0;
      this.fab = top > 20;
    },
    toTop() {
      this.$vuetify.goTo(0);
    }
  }
};
</script>
