<template>
  <v-navigation-drawer
    v-model="drawer"
    :clipped="$vuetify.breakpoint.lgAndUp"
    app
  >
    <v-list dense shaped>
      <v-list-group
        v-for="(item, item_index) in menuList"
        :key="item_index"
        :prepend-icon="item.icon"
        v-model="item.active"
        no-action
      >
        <!-- title menu -->
        <template v-slot:activator>
          <v-list-item-content>
            <v-list-item-title v-text="item.title"></v-list-item-title>
          </v-list-item-content>
        </template>
        <!-- end title menu -->

        <!-- sub title menu -->
        <v-list-item
          v-for="children in item.childrens"
          :key="children.route"
          @click="SetAtive(children.route)"
          v-model="children.active"
        >
          <v-list-item-content>
            <v-list-item-title v-text="children.route"></v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <!-- end sub title menu -->
      </v-list-group>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
import api from "@/services/api.js";

export default {
  name: "Navigation",
  props: {
    value: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      drawer: true,
      menuList: [],
    };
  },
  mounted() {
    let self = this;
    self.get_menuList(self.$route.name);
  },
  watch: {
    value(newVal) {
      let self = this;
      self.drawer = newVal;
    },
    drawer() {
      let self = this;
      self.$emit("input", this.drawer);
    },
    $route() {
      this.UpdateSelectMenu(this.$route.name);
    },
  },
  methods: {
    async get_menuList(route_path) {
      let self = this;
      self.menuList = await api.getMenus();
      self.SetAtive(route_path);
    },
    SetAtive(route_path) {
      this.UpdateSelectMenu(route_path);
      this.$router.push(`/${route_path}`).catch(() => {});
    },
    UpdateSelectMenu(route) {
      let self = this;
      let rootIndex = 0;

      self.menuList.forEach((item, index) => {
        item.active = false;
        //get index root
        if (!_.isEmpty(_.find(item.childrens, _.matches({ route: route })))) {
          rootIndex = index;
        }
        //reset false
        _.filter(item.childrens, ["active", true]).forEach((children) => {
          children.active = false;
        });
      });
      //set new value
      let _obj = self.menuList[rootIndex];
      _obj.active = true;
      let obj_children = _.find(_obj.childrens, { route: route });
      if (!_.isEmpty(obj_children)) {
        obj_children.active = true;
      }
    },
  },
};
</script>
