<template>
  <v-app id="inspire">
    <v-content>
      <v-container class="fill-height" fluid>
        <v-row align="center" justify="center">
          <v-col cols="12" sm="6" md="6" lg="3">
            <v-form v-model="valid" @submit.prevent="submit()" ref="form">
              <v-card class="elevation-15">
                <v-img
                  class="white--text align-end"
                  height="150px"
                  src="@/assets/login_header.jpg"
                >
                  <v-card-actions>
                    <!-- <v-spacer /> -->
                    <v-card-title>(⌐■_■)</v-card-title>
                  </v-card-actions>
                </v-img>
                <v-card-text>
                  <!-- Username -->
                  <v-text-field
                    prepend-icon="person"
                    label="Username"
                    v-model="account.UserName"
                    :rules="usernameRules"
                    required
                  />
                  <!-- Password -->
                  <v-text-field
                    prepend-icon="lock"
                    label="Password"
                    v-model="account.Password"
                    min="8"
                    :append-icon="e1 ? 'visibility' : 'visibility_off'"
                    @click:append="e1 = !e1"
                    :type="e1 ? 'password' : 'text'"
                    counter
                    :rules="passwordRules"
                    required
                  />
                </v-card-text>
                <v-card-actions class="pa-6">
                  <div v-if="!responseLogin">
                    <v-icon left class="red--text">mdi-alert</v-icon>
                    <span class="red--text">Login Fail</span>
                  </div>
                  <v-spacer />
                  <!-- <v-btn type="submit" :disabled="!valid" :class="{ 'primary': valid }">Login</v-btn> -->
                  <v-btn
                    type="submit"
                    class="elevation-3"
                    tile
                    :disabled="!valid"
                    :class="{ primary: valid }"
                  >
                    <span>Login</span>
                    <v-icon right>mdi-login</v-icon>
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-form>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
// import router from "@/router";
import _ from "@/assets/customs.js";

export default {
  name: "Login",
  data() {
    return {
      account: {
        UserName: "",
        Password: "",
      },
      valid: false,
      e1: true,
      Password: "",
      usernameRules: [(v) => !!v || "UserName is required"],
      passwordRules: [(v) => !!v || "Password is required"],
      responseLogin: true,
    };
  },
  mounted() {
    let self = this;
    self.checkLogin(self.$route.name);
  },
  methods: {
    async submit() {
      let self = this;
      self.responseLogin = await self.$store.dispatch("Login", self.account);
      // if (self.responseLogin) {
      //   this.$store.dispatch("Menus");
      // }
    },
    async checkLogin(router) {
      let self = this;
      let result = await self.$store.dispatch("CheckLogin");
      if (result && (_.isEmpty(router) || router == "Login")) {
        self.$store.dispatch("LogOut");
      }
    },
  },
};
</script>
