<template>
  <div class="row text-center justify-center">
    <div class="col col-auto">
      <h1>404</h1>
      <div class="display-3 mb-5 mt-10">Page not found :(</div>
      <v-btn color="success" @click="$router.back()"
        >Back!
        <v-icon right>mdi-keyboard-backspace</v-icon>
      </v-btn>
    </div>
  </div>
</template>

<script>
export default {
  name: "Page404",
};
</script>
