<template>
  <v-app id="app">
    <Login v-if="!$store.getters.get_IsLogin"></Login>
    <Navigation v-if="$store.getters.get_IsLogin" v-model="drawer"></Navigation>
    <AppBar v-if="$store.getters.get_IsLogin" v-model="drawer"></AppBar>
    <Content v-if="$store.getters.get_IsLogin"></Content>
  </v-app>
</template>

<script>
import Navigation from "@/components/layout/Navigation.vue";
import AppBar from "@/components/layout/AppBar.vue";
import Content from "@/components/layout/Content.vue";
import Login from "@/views/Login.vue";

export default {
  components: {
    Navigation,
    AppBar,
    Content,
    Login
  },
  props: {
    source: String
  },
  data() {
    return {
      drawer: true
    };
  },
  mounted() {
    let self = this;
    self.$store.dispatch("CheckLogin");
  },
  methods: {}
};
</script>
